.mainSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.matchesDiv {
  background-color: #00000049;
  width: 63%;
  height: 270px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  box-shadow: 2px 2px 5px black;
  border: 1.5px solid #ffffff91;
  padding-top: 25px;
}

.matchesDiv h1 {
  font-size: 31px;
  margin-top: 16px;
  text-align: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000000bb;
}

.matchInfo {
  margin-bottom: 35px;
}

.matchInfo h1{
  margin-block: 8px;
}

.homeTeam {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
}

.awayTeam {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.homeTeam, .awayTeam, .matchInfo {
  text-align: center;
}

.homeTeam h1, .awayTeam h1{
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-top: 15px;
}

.homeTeam span, .awayTeam span {
  background-color: rgb(68, 98, 174);
  padding-block: 5px;
  padding-inline: 10px;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.matchesDiv img{
  width: 113px;
  min-width: 113px;
}

.matchDetails {
  display: flex;
  gap: 300px;
}

.matchDetails h1 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 20px;
  display: flex;
  background-color: #00000075;
  padding: 15px;
  border: 1.5px solid #ffffff91;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

.matchDetails > h1 > hr {
  border: 1.5px solid #ffffff91;
  margin-inline: 15px;
  box-shadow: 2px 2px 5px black;
}
