.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 30px;
}

.divInput {
  background-color: black;
  border-radius: 25px;
  margin-left: 50px;
}

.divInput i {
  margin-left: 20px;
}

.divInput input, input:focus {
  border: 0;
  outline: 0;
}

.divInput input{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 25px;
  width: 300px;
  font-size: 17px;
}

.timesSeguidos {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
  transition: 0.5s;
}

.timesSeguidos:hover {
  background-color: #cecbcb;
}

.sideMenu {
  background-color: white;
  position: absolute;
  right: -50px;
  width: 350px; 
  height: 189vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  transition: 0.5s right;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 480px;
  margin-bottom: 30px;
  width: 100%;
  gap: 50px;
  span {
    margin-left: 40px;
  }
}

.title > span {
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

.title > h1 {
  font-size: 20px;
}

@media (width <= 720px ) {
  .header {
    justify-content: center;
  }
}